.hidden {
    display:none;
}
   
.centered {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -308px;
/*    margin-top: -232px;*/
    margin-top: -250px;
}

#infoDiv {
    min-height: 470;
    min-width: 620;
    background-color: rgb(218,218,218);
}

#shortMessageDiv {
    max-width:366px;
    text-align:center;
    font-size: 22pt;
}

#noJavascriptNotificationDiv {
    text-align:center;
    margin: 10%;
    font-size: 22pt;
}
/* Otherwise WinPhone will select canvas*/
html { 
    -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
}