#infoDiv {
    min-height: 470;
    min-width: 620;
    background-color: rgb(218,218,218);
}

#shortMessageDiv {
    max-width:366px;
    text-align:center;
    font-size: 22pt;
}

.centered {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -308px;
    /*    margin-top: -232px;*/
    margin-top: -250px;
}    


/* Otherwise WinPhone will select canvas*/
/* Non necessary with  createjs.Touch.initialize(stage); , but it also disable zoom*/
html { 
    -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
}

.disableSelection {
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

::selection, 
::-moz-selection {
    background: transparent;
    color: inherit;
}